{% extends "wrapper.html" %}
{% block content %}

    <div class="jumbotron bg_color">
        <h3>О нас</h3>
        <div>
            <p>"Дом для кота" - это учебный проект созданый студентом Skillfactory: PWS-15-18 Full-stack веб-разработчик на Python. В проекте использованы фотоматериалы с сайта 
            <a href="https://www.pexels.com">www.pexels.com</a>, предоставляемые бесплатно.</p>
            <p>Котики - большие и маленькие, пушистые и гладкие, веселые и задумчивые -</p>
            <p>и на всех одна большая мечта - встретить своего Человека и найти Дом.</p>

            <h3>Контакты</h3>
            <p>Вы можете связаться с нами по телефону или почте:
            <ul>
                <li>телефон: 8 - 945 - 456 - 98 - 45</li>
                <li>e-mail: team@pettyhouse.ru</li>
            </ul>
                Звоните, пишите, будем рады!</p>
        </div>
    </div>

{% endblock %}